@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SeoulHangang';
    src: url('static/fonts/SeoulHangangM.ttf') format('truetype');
}

body {
  font-family: 'SeoulHangang', serif;
}
