{% extends "base.html" %}
{% block content %}
<div class="max-w-md mx-auto mt-12 p-6 bg-[#f5f0fb] shadow-lg rounded-xl text-center">
  <h2 class="text-2xl font-bold text-[#6c5ecf] mb-6 font-serif tracking-wide">
    Check Your Email
  </h2>
  <p class="text-[#726a60] text-sm leading-relaxed font-serif">
    If the email you entered exists, <br> we’ve sent instructions to reset your password.
  </p>
  <p class="text-[#bfa7f2] text-sm leading-relaxed font-serif">
    <br><br>
    Please check your inbox and
    <br>
    follow the link to set a new password.
  </p>
</div>
{% endblock %}
